<a href="https://colab.research.google.com/github/yusrilalbi/Playing-With-Pandas/blob/main/Mencari_Juara_1_Umum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
import pandas as pd

df = pd.read_csv('LAMPIRAN FOHKN.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   NAMA              1991 non-null   object
 1   SEKOLAH/MADRASAH  1991 non-null   object
 2   PROVINSI          1991 non-null   object
 3   BIDANG            1991 non-null   object
 4   NILAI             1928 non-null   object
 5   PRESTASI          1352 non-null   object
 6   JUARA             193 non-null    object
dtypes: object(7)
memory usage: 109.0+ KB

In [ ]:
listNama = df["NAMA"].unique()
print(listNama[0:10])

['A.Jessie Stevanie Tampubolon' 'Aan Pambudi' 'Abdul Azis'
 'Abdurrahman Malik Fajar' 'Abi Affan Barokah' 'Abil Rizki'
 'Achmad Abdul Aziz' 'Achmad Fauzi' 'Achmad Liem Souliyong'
 'Achmad Muqorrobin']

In [ ]:
df[df["NAMA"]=="Yusril Albi"]

,NAMA,SEKOLAH/MADRASAH,PROVINSI,BIDANG,NILAI,PRESTASI,JUARA
1948,Yusril Albi,Universitas Pertamina,DKI JAKARTA,Matematika,41.00,MEDALI EMAS,NaN
1949,Yusril Albi,Universitas Pertamina,DKI JAKARTA,Informatika,96.00,MEDALI EMAS,JUARA I
1950,Yusril Albi,Universitas Pertamina,DKI JAKARTA,Geografi,-10.00,NaN,NaN
1951,Yusril Albi,Universitas Pertamina,DKI JAKARTA,Astronomi,20.00,MEDALI PERUNGGU,NaN

In [ ]:
kamus = {}

for i in listNama :
  kamus[i] = 0
j = 0
for i in range(0,1991):
  if (df.loc[i]["NAMA"] != listNama[j]):
    j += 1
  if (df.loc[i]["JUARA"]=="JUARA I"):
    kamus[listNama[j]] += 6
  elif (df.loc[i]["JUARA"]=="JUARA II"):
    kamus[listNama[j]] += 5
  elif (df.loc[i]["JUARA"]=="JUARA III"):
    kamus[listNama[j]] += 4
  elif (df.loc[i]["PRESTASI"]=="MEDALI PERUNGGU"):
    kamus[listNama[j]] += 3
  elif (df.loc[i]["PRESTASI"]=="MEDALI PERAK"):
    kamus[listNama[j]] += 2
  elif (df.loc[i]["PRESTASI"]=="MEDALI EMAS"):
    kamus[listNama[j]] += 1

In [ ]:
kamus = sorted(kamus.items(), key =
             lambda kv:(kv[1], kv[0]))

In [ ]:
kamus[-10:-1]

[('Zulfahmi', 11),
 ('Surya Abdi Prahmana', 12),
 ('Muhammad Putra Aprullah', 13),
 ('Nikmatus Solikah, S.Pd', 14),
 ('Fajar Desy Clarisma', 15),
 ('Nayla Az Zurra', 17),
 ('Qurotul Aini Jamaliah', 18),
 ('Muhammad Zainullah', 21),
 ('Rolan', 21)]